@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
//color palelte
$sky-blue: #d4e0ee;
$light-pink: #ffdcdc;
$med-pink: #ffa7a6;
$dark-pink: #f25477;
$hot-pink: #ec275f;

//font-size guid
// 40px mobile 50px desktop for title
//body text 20px for both

$section-size: 60%;

@mixin animate-nodes {
  animation: pop-out 3000ms ease-in-out;
  animation-fill-mode: forwards;
}

@mixin font($size) {
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
  @if $size == title {
    font-size: 200px;
  } @else if $size == body {
    font-size: 50px;
  } @else if $size == subtitle {
    font-size: 100px;
  }
}
