// use the asset and use css clip-path
// get the entire image size/ total amount for grass and trees
// n squared: shift the x 4 times, shift the y 4 times
// use javascript to assign the class

@use "variables" as var;

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.opening-section {
  background-color: var.$sky-blue;
  width: 100vw;
  height: 100vh;
}

.home-page {
  background-color: var.$med-pink;
  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var.$section-size;
  border: 2px solid red;
  .name {
    font-size: var.$title-size;
  }
  .subtitle {
    font-size: var.$body-size;
  }
}

.art-section {
  height: 100% - var.$section-size;
  border: 2px solid orange;
}

img {
  width: 300px;
  image-rendering: pixelated;
}

.home-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

 
  & > * {
    width: 300px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: green 2px solid;
  }
  .profile-pic {
    background-color: black;
  }

  .about-me,
  .projects,
  .blog {
    background-color: var.$dark-pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var.$body-size;
  }
}
